
nav {
  background-color: #0e1111;
  color: white;
  font-size: 2em;
}

.left {
  position: relative;
  float: left;
  font-size: 25px;
}

.nav-wrapper {
  width: 80%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.right {
  position: relative;
  float: right;
  font-size: 25px;
}