.jumbotron {
  height: 250px;
  background-image: url('https://wallpaperaccess.com/full/457348.jpg');
  /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6d4a612e-09e4-407a-8798-cb8f779a51f9/d7ncm7r-4a641961-d21f-4206-81d8-44af1a65b246.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZkNGE2MTJlLTA5ZTQtNDA3YS04Nzk4LWNiOGY3NzlhNTFmOVwvZDduY203ci00YTY0MTk2MS1kMjFmLTQyMDYtODFkOC00NGFmMWE2NWIyNDYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mYwrhCTiuN4UZKSC6YZ7eNbkwi5XgDW-jLwuP178ooM"); */
  /* background-position: center bottom; */
  background-size: cover;
}

h1 {
  text-transform: uppercase;
  font-size: 1em;
  background-color: rgb(60,60,60,.4);
  color: whitesmoke;
  overflow: hidden;
  display: inline;
  padding: 15px;
}